.wrapper
  .side-bar
    = render 'shared/side_header'
    = render 'shared/side_groups'
  .main-chat
    = render 'shared/main_chat'
    .form
      %form.form__new-message
        .form__new-message__input-box
          %input.form__new-message__input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.form__new-message__input-box__image{for: "message_image"}
            = fa_icon"image"
        %input.form__new-message__submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/
