<html>
<head>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheets" href="messages.scss">
</head>


<body>

  <div class="wrapper">


    <div class="chat-side">

      <div class="side-header">
        <div class="side-header__box">
          <p class="side-header__box__user-name">user_name</p>
          <ul class="side-header__box__menu">
            <i class="fa fa-edit"></i>
            <i class="fa fa-cog"></i>
          </ul>
        </div>
      </div>

      <div class="groups">
        <div class="group">
          <p class="group__group-name">sample</p>
          <p class="group__latest-message">まだメッセージがありません</p>
        </div>
      </div>

    </div>

    <div class="main-chat">

      <div class="main-header">
        <div class="main-header__left-box">
          <h2 class="main-header__left-box__current-group">sample</h2>
          <ul class="main-header__left-box__member-list">Member :
            <li class="main-header__left-box__member-list__member">user1
            </li>
          </ul>
        </div>
        <div class="main-header__edit-btn">Edit</div>
      </div>

      <div class="messages">ここにメッセージが表示されます。
      </div>

      <div class="form">
        <form class="form__new-message">

          <div class="form__new-message__input-box">
            <input placeholder="type a message" class="form__new-message__input-box__text" type="text" name="message[content]">
            <label class="form__new-message__input-box__image" for="message_image">
              <i class="fa fa-image"></i>
            </label>
          </div>

          <input type="submit" name="commit" value="Send" class="form__new-message__submit-btn" data-disable-with="Send">
        </form>
      </div>


    </div>
  </div>

</body>
</html>
