.wrapper
  .side-bar
    = render 'shared/side_header'
    = render 'shared/side_groups'
  .main-chat
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group  sample
        %ul.main-header__left-box__member-list
          Member :
          %li.main-header__left-box__member-list__member
            user1
      .main-header__edit-btn Edit
    .messages
      ここにメッセージが表示されます。
    .form
      %form.form__new-message
        .form__new-message__input-box
          %input.form__new-message__input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.form__new-message__input-box__image{for: "message_image"}
            = fa_icon"image"
        %input.form__new-message__submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/
