*{
  box-sizing: border-box;
}

.side-header{
    background-color: #253141;
    font-size: 16px;
    height: 100px;
    width: 300px;
    padding: 0 20px;

    &__box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 40px 0;

        &__name{
          color: #fff;
              font-weight: bold;
              font-size: 16px;
        }

        &__lists{
          display: flex;
          letter-spacing: 0.3rem;
        }

    }
}

a{
  text-decoration: none;
}

.groups{
        background-color: #2f3e51;
        height: calc(100vh - 100px);
        padding: 20px 20px 0;
        width: 300px;
        color: #fff;



        .group{
            margin-bottom: 40px;
            text-decoration: none;

            &__name{
                font-size: 15px;
                color: #ffffff;
                margin: 0 0 5px;
            }

            &__message{
                font-size: 11px;
                color: #ffffff;
            }

        }

    }
