*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a:link, a:visited, a:hover, a:active{
    color: #fff;
}


.wrapper{
    display: flex;

    .messages{
        overflow: scroll;
        margin-top: 100px;
        left: 300px;
        box-sizing: border-box;
        width:  calc(100vw - 300px);
        height: calc(100vh - 190px);
        padding: 46px 40px 0;
        background-color: #fafafa;

        .message{
            margin: 0 0 40px;

            .upper-message{
                display: flex;
                margin-bottom: 10px;

                &__user-name{
                    color: #434A54;
                    font-size: 16px;
                    font-weight: bold;
                }

                &__date{
                    color: #999999;
                    font-size: 12px;
                    margin-left: 10px;
                }
            }

            .lower-message {
                margin-top: 10px;

                &__content {
                  color: $black;
                  font-size: 14px;
                  margin-bottom: 40px;
                }

                &__image{
                  display: block;
                  width: 200px;
                }
              }
        }
    }

}
