*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a:link, a:visited, a:hover, a:active{
    color: #fff;
}


.wrapper{
    display: flex;

    .messages{
        box-sizing: border-box;
        height: calc(100vh - 190px);
        padding: 46px 40px 0;
        background-color: #fafafa;

        .message{
            margin: 0 0 40px;

            .upper-message{
                display: flex;
                margin-bottom: 10px;

                .upper-message__user-name{
                    color: #434A54;
                    font-size: 16px;
                    font-weight: bold;
                }

                .upper-message__date{
                    color: #999999;
                    font-size: 12px;
                    margin-left: 10px;
                }
            }

            .lower-meesage{

                .lower-message__content{
                    color: #434A54;
                    font-size: 14px;
                }
            }
        }
    }

}
