<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheets" href="user.scss">
</head>

<body>

<div class="account-page">

  <div class="edit-account--left">
    <div class="edit-account--left__title">Edit Account
    </div>
    <div class="edit-account--left__subtitle">アカウントの編集
    </div>
    <a class="btn">ログアウト</a>
    <a class="btn">トップページへ戻る</a>
  </div>

  <div class="edit-account--right">

    <div class="edit-account--right__field">
      <label class="edit-account--right__field__label">
        Name
      </label>
      <input type="text">
    </div>

    <div class="edit-account--right__field">
      <label class="edit-account--right__field__label">
        Email
      </label>
      <input type="text">
    </div>

    <div type="submit" value="Update" class="edit-account--right__btn">Update
    </div>
  </div>
</div>



</body>
</html>
