*{
  box-sizing: border-box;
}

$blue: #38aef0;

.chat-group-form{
  width: 980px;

  margin: 60px auto;
  padding: 40px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: bold;


  h1{
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }


  .chat-group-form__field{

    margin-top: 30px;
    height: 60px;


    &--left{
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;


      &__label{
        line-height: 50px;
        float: right;
      }

    }


    &--right{
      float: right;
      width: 70%;
      display: flex;


      &__input{
        float: left;
        width: 100%;
        line-height: 30px;
        padding: 10px 15px;
        box-sizing: border-box;
        font-weight: normal;
      }

      &__chat-member-list{
        display: flex;
        padding: 0 15px;
        line-height: 50px;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
        width: 100%;


          &__chat-member-name{
            line-height: 50px;
          }

      }

      &__delete{
        width: 40px;
        color: red;
        font-weight: normal;
        line-height: 50px;
      }


      &__action-btn{
        padding: 12px 20px;
        color: #ffffff;
        background-color: $blue;
        font-weight: normal;
        border: 0;
        width: 100px;
      }
  }

}
}
