*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a:link, a:visited, a:hover, a:active{
    color: #fff;
}


.wrapper{
    display: flex;

    .side-bar{
        display: block;
    }



    .messages{
        box-sizing: border-box;
        height: calc(100vh - 190px);
        padding: 46px 40px;
        background-color: #fafafa;
    }

}
